@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* RESET GLOBAL */
* {
    margin: 0;
    padding: 0;
}
body, html {
    font-family: "Inter", sans-serif;
    background-color: #141414;
    color: white;
    scroll-behavior: smooth;
        overflow-x: hidden;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;     
    height: 100vh;
}


/* HEADER */
header {
    position: fixed; 
    top: 0; 
    left: -30px;
    width: 100vw; 
    z-index: 1; 
    background-color: #141414;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#references-site {
    display: flex;
    gap: 2vw;
    justify-content: flex-end;
}
#references-site a {
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    padding: 0.7rem;
    border-radius: 10px;
}
#references-site a:hover {
    background-color: rgba(255, 255, 255, 0.134);
    transition: 0.6s ease;
    color: #f2cf68;
}

/* SOBRE-MIM */
#sobre-mim {
    background-image: url(./images/more/background-image.svg);
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}
#sobre-mim .content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    width: 50vw;
}

#sobre-mim .content h1 {
    font-size: 3rem;
}

#sobre-mim .content p {
    font-size: 1rem;
}
#sobre-mim img {
    max-width: 15vw;
}


/* CONHECIMENTOS */
#conhecimentos .content-conhecimentos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
}
#conhecimentos .paragrafo {
    width: 30vw;
    font-size: 2rem;
}


/* CURIOSIDADES */
#curiosidades {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#curiosidades #box-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}
#curiosidades video, #curiosidades img {  
    width: 200px; 
    height: 300px;    
    object-fit: cover;  
}
.content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
}
.content img {
    width: 200px; 
    height: 300px;    
    object-fit: cover; 
}
.content div{
    max-width: 15vw;
    text-align: center;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    align-items: center;
}



/* LUGARES CONHECER */


/* LUGARES CONHECI */
